.logo {
	width: 15%;
	position: relative;
	left: 75%;
}

.title {
	width: 4em;
	height: 1em;
}

input::placeholder {
	text-align: center;
	font-size: 0.9em;
}

.navbar-brand,.navbar-nav {
	position: relative;
	left: 5%;
}

.navbar-brand {
	font-size: 2em !important;
}

#map-container {
	width: 100%;
	height:100%;
	position: relative;
	overflow: hidden;
}

.canvas {
	width: 2000px;
    height: 1000px;
	position: relative;
	z-index: 97;
}

.real-canvas {
	width: 2000px;
    height: 1000px;
	position: relative;
	z-index: 98;
	background-color: #E0FFFF;
}

.footer {
	text-align: center;
	position: fixed;
	left: 0px;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
	z-index: 99;
	background-color: #F8F9FA;
}

.off {
	display: none;
}

.menu {
	position: absolute;
	z-index: 100;
}

span {
	position: absolute;
    width: 30px;
    height: 20px;
	background-color: #eab8f2;
	z-index: 99;
}